@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #32323e;
  min-height: 100vh;
}

::-webkit-scrollbar {
display: none;
}

::-webkit-scrollbar-thumb {
background: #00fac0;
}

.burger {
  display: none;
}

.miniNav {
  display: none;
}

nav {
  width: 100%;
  background: black;
  display: flex;
  font-style: italic;
  justify-content: space-around;
  padding: 1.2em 0;
}

a {
  color: white;
  text-decoration: none;
  background: inherit;
}

a:hover {
  text-transform: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.15em;
  color: #00fac0;
}

.activeNav {
  color: #579dff;
  font-style: italic;
  border-bottom: 4px solid #00fac0;
}


/* stlyes for main content, container and bio */

.bio-container {
  display: flex;
  padding: 7em 14em;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 100%;
}

.bio {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 1.5em;
  padding: 4em 6em;
  min-height: 80vh;
  min-width: 50vw;
}

.headline {
  text-align: center;
}

.headline > img {
  border-radius: 50%;
  height: 12em;
}

h2 { text-align: center; }

h2, h3 {
  font-style: italic;
  color: #579dff;
}

p {
  padding: 5px 0 14px 0;
  font-size: 1.1em;
 }


/* buttons */

.btns {
  display: flex;
  flex-direction: row;
  padding: 1em 0;
}

button > a {
  color: black;
}

button > a:hover {
  color: black;
  font-size: inherit;
}

.btn-red {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  border: 3px solid rgb(245, 66, 242);
  background: rgb(252, 81, 90);
  border-radius: 1rem;
  padding: .5em 1em;
  color: rgb(61, 61, 61);
  text-decoration: none;
  height: 38px;
  width: auto;
  max-width: 5rem;
  outline: none;
  font-weight: 600;
  margin-left: 1em;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

  -webkit-box-shadow: -1px 2px 0px rgb(102, 111, 120);
  -moz-box-shadow: -1px 2px 0px rgb(102, 111, 120);
  box-shadow: -1px 2px 0px rgb(102, 111, 120);
}

.btn-red:hover {
  background: rgb(255, 140, 146);
  color: black;
  transition: all 1s;
}

.btn-red:active {
  /*
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  */
  -webkit-box-shadow: 0px 0px 0px rgb(248, 41, 255);
  -moz-box-shadow: 0px 0px 0px rgb(248, 41, 255);
  box-shadow: 0px 0px 0px rgb(248, 41, 255);
  position:relative;
  top:4px;
}

.main-btn {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  background-color: rgb(107, 184, 255);
  border: 3px solid #33ffff;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3em 1em;
  color: black;
  text-decoration: none;
  height: auto;
  max-height: 38px;
  width: auto;
  outline: none;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: -1px 2px 0px rgb(102, 111, 120);
  -moz-box-shadow: -1px 2px 0px rgb(102, 111, 120);
  box-shadow: -1px 2px 0px rgb(102, 111, 120);
}

.main-btn:hover {
  /* background: rgb(133, 196, 255); */
  background: rgb(150, 204, 255);
  color: black;
  transition: all 3s;
}

.main-btn:active {
  /*
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  */
  -webkit-box-shadow: 0px 0px 0px #388bff;
  -moz-box-shadow: 0px 0px 0px #388bff;
  box-shadow: 0px 0px 0px #388bff;
  position:relative;
  top:4px;
}

/* small screens */
@media screen and (min-device-width: 320px) and (max-device-width: 960px) {
  body {
    max-height: 95vh;
    background: #32323e;
  }

  .bio-container{
    padding: 7em 7em;
  }

  nav {
    display: none;
  }

  .burger {
    display: block;
    position: fixed;
    cursor: pointer;
    top: 30px;
    left: 30px;
  }

  .burger > img {
    height: 80px;
  }

  .miniNav {
    display: none;
    background: white;
  }

  .miniNav > li > a {
    padding-left: 0.7em;
    color: #579dff;
  }

  .miniNav > li > a:hover {
    border-bottom: #00fac0;
  }

  .close {
    cursor: pointer;
    position: absolute;
    opacity: 1;
    top: 15px;
    right: 15px;
  }

  .close > img {
    height: 85px;
  }

  .main-btn, .btn-red {
    width: 12em;
    height: 5em;
  }

  .btn-red {
    padding: 0;
    max-width: 10rem;
  }

  .burger {
    display: block;
    position: fixed;
    cursor: pointer;
    top: 30px;
    left: 30px;
  }

  .burger > img {
    height: 80px;
  }

}/*end media query */
