@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

body { background: #32323e; border: 1px solid blue; min-height: 100vh; }

::-webkit-scrollbar {
display: none;
}

::-webkit-scrollbar-thumb {
background: #00fac0;
}

.burger {
  display: none;
}

.miniNav {
  display: none;
}

nav {
  width: 100%;
  background: black;
  display: flex;
  font-style: italic;
  justify-content: space-around;
  padding: 1.2em 0;
}

a {
  color: white;
  text-decoration: none;
  background: inherit;
}

a:hover {
  text-transform: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.15em;
  color: #00fac0;
}

.activeNav {
  color: #579dff;
  font-style: italic;
  border-bottom: 4px solid #00fac0;
}


/* stlyes for main content, container and bio */

.container {
  border: 1px solid red;
  display: flex;
  height: inherit;
  width: 100%;
}

.bio {
  background: rgba(255, 255, 255, 0.9);
}
