@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@1,100&display=swap');

body{
    font-family: sans-serif;
    text-align: center;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

::-webkit-scrollbar {
display: none;
}

#wrapper {
    padding-top: 10%;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    text-transform: none;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: brightness(70%);
  top: 0;
  left: 0;
  z-index: -1;
}

    .navbtn{
        margin: 0 0.5rem;
        background-color: inherit;
        border: 1px solid #00fac0;
        color: #00fac0;
    }

    .navbtn:hover {
        background-color: #579dff;
    }

    .cubeImg{
        height: 10vh;
        width: auto;
    }

    .newText {
      color: #579dff;
      font-size: 1.7rem;
      font-weight: 800;
    }

    .padd {
        padding-top: 1.2rem;
        font-weight: 700;
    }

    .padd:hover {
        color: #00fac0;
    }

    a:hover {
        text-decoration: none;
    }

  .viewport {
    margin: 10vh 0 30vh 0;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    -webkit-perspective-origin: 50% 200px;
    -moz-perspective-origin: 50% 200px;
    -ms-perspective-origin: 50% 200px;
    -o-perspective-origin: 50% 200px;
    perspective-origin: 50% 200px;
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    -webkit-box-reflect: below 170px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, 0.4))); }

  .cube {
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(136deg) rotateY(1122deg);
    -moz-transform: rotateX(136deg) rotateY(1122deg);
    -ms-transform: rotateX(136deg) rotateY(1122deg);
    -o-transform: rotateX(136deg) rotateY(1122deg);
    transform: rotateX(136deg) rotateY(1122deg); }

  .cube > div {
    overflow: hidden;
    position: absolute;
    opacity: 0.95;
    height: 200px;
    width: 200px;
    background: #fff;
    border: 2px groove #dce1e8;
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    -o-touch-callout: none;
    touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }

  .cube > div > div.cube-image {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background: white;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    text-align: center;
    -webkit-transition: color 600ms;
    -moz-transition: color 600ms;
    -ms-transition: color 600ms;
    -o-transition: color 600ms;
    transition: color 600ms;
}

  .cubeImg{
        /* height: 10vh; */
        width: auto;
    }

  .cube > div:hover {
    cursor: pointer;
}

  .cube > div:active {
    cursor: pointer;
}

  .cube > div:first-child {
    -webkit-transform: rotateX(90deg) translateZ(100px);
    -moz-transform: rotateX(90deg) translateZ(100px);
    -ms-transform: rotateX(90deg) translateZ(100px);
    -o-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
    outline: 1px solid transparent; }

  .cube > div:nth-child(2) {
    -webkit-transform: translateZ(100px);
    -moz-transform: translateZ(100px);
    -ms-transform: translateZ(100px);
    -o-transform: translateZ(100px);
    transform: translateZ(100px);
    outline: 1px solid transparent; }

  .cube > div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(100px);
    -moz-transform: rotateY(90deg) translateZ(100px);
    -ms-transform: rotateY(90deg) translateZ(100px);
    -o-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
    outline: 1px solid transparent; }

  .cube > div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(100px);
    -moz-transform: rotateY(180deg) translateZ(100px);
    -ms-transform: rotateY(180deg) translateZ(100px);
    -o-transform: rotateY(180deg) translateZ(100px);
    transform: rotateY(180deg) translateZ(100px);
    outline: 1px solid transparent; }

  .cube > div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    -moz-transform: rotateY(-90deg) translateZ(100px);
    -ms-transform: rotateY(-90deg) translateZ(100px);
    -o-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
    outline: 1px solid transparent; }

  .cube > div:nth-child(6) {
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -o-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    outline: 1px solid transparent; }

  object {
    opacity: 0.5; }

  object:hover {
    opacity: 1; }

  .subtext {
    color: #00fac0;
  }

 /*@media (max-width: 640px) {
    .viewport {
      -webkit-transform: scale(0.6, 0.6);
      -moz-transform: scale(0.6, 0.6);
      -ms-transform: scale(0.6, 0.6);
      -o-transform: scale(0.6, 0.6);
      transform: scale(0.6, 0.6); } }
*/

    .classicNav {
        position: absolute;
        top: 10em;
        right: 2em;
        color: white;
        font-size: 2em;
        font-weight: 100;
        opacity: 0;
    }

    .classicNav > li {
        list-style-type: none;
        line-height: 1.5em;
    }

    .classicNav > li > a {
      color: white;
    }

    .classicNav > li > a:hover {
        color: #579dff;
        font-weight: 400;
        font-size: 1.6em;
        transition: .3s;
    }

    #closeNav {
      height: 32px;
      position: absolute;
      cursor: pointer;
      right: -25px;
      top: -25px;
    }

    .instruct {
        font-size: 1.1em;
        /* right: 637px;*/
        color: rgba(255, 255, 255, 0.5);
        font-style: italic;
        position: absolute;
        top: 95%;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%, -50%);
        font-weight: 800;
      }

      #showNav {
        color: white;
      }


    @media screen and (min-device-width: 200px) and (max-device-width: 550px) {
      .classicNav {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: rgba(255, 255, 255, 0.6);
      }

      .classicNav > li > a {
        color: #579dff;
        font-size: 2em;
        padding: 0 0 .5em .9em;
      }

      .classicNav > li > a:hover {
        color: #00fac0;
      }

      .instruct {
        font-size: 1.7em;
      }
    }/* end media query*/
