@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  background: #32323e;
 }

::-webkit-scrollbar {
display: none;
}

::-webkit-scrollbar-thumb {
background: #00fac0;
}

nav {
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-around;
  padding: 1.2em 0;
}

a {
  color: white;
  text-decoration: none;
  background: inherit;
}

a:hover {
  text-transform: none;
  text-decoration: none;
  color: #579dff;
}

.activeNav {
  color: #579dff;
  font-style: italic;
  border-bottom: 4px solid #00fac0;
}
